{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>Войти в систему</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://allfont.ru/allfont.css?fonts=pt-sans" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="{% static 'js/login.js' %}"></script>
    </head>
    <body>
        <div class="login-container">
            <div class="login-center">
                <div class="login-block">
                    <div class="login-header">
                        Авторизация в системе
                    </div>
                    <div class="controls-container">
                        <div id="errors" class="login-error-block" style="display:none;">
							<div class="error">Произошла непредвиденная ошибка</div>
						</div>
                        <div>
                            <input style="height: 32px !important" type="text" id="login" name="app-login" value="" placeholder="Введите логин" />
                        </div>
                        <div>
                            <input type="password" id="password" name="app-password" value="" placeholder="Введите пароль" />
                        </div>
                        <div class="buttons">
                            <button id="submit">Войти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>